/* Player card and info card styles */

.player-header {
    height: auto;
    text-style: bold;
    padding: 1;
    border: tall $primary;
    margin-bottom: 1;
}

.player-attributes {
    height: auto;
    padding: 1;
    border: tall $primary;
}

.player-badges {
    height: auto;
    padding: 1;
    border: tall $primary;
}

.player-tendencies {
    height: auto;
    padding: 1;
    border: tall $primary;
}

.player-condition {
    height: auto;
    padding: 1;
    border: tall $primary;
}
